<footer>

  <section class="contact">
    <div class="contact-wrapper">
  <div class="contact-form">
    <h3>I'd love to bring your ideas to life</h3>
    <form action="https://formsubmit.co/staceysalting@hotmail.com" method="POST">

     <!-- HoneyPot -->
      <input type="text" name="_honey" style="display: none;">

      <!-- Disable Captcha -->
       <input type="hidden" name="_captcha" value="false">

       <input type="hidden" name="_next" value="">

      <div class="form-group">
        <input type="text" name="Full&nbsp;Name" placeholder="Full Name" required>

      </div>
      <div class="form-group">
        <input type="email" name="Email" placeholder="Email Address" required>
      </div>
      <div class="form-group">
        <textarea name="Message" placeholder="Message" required></textarea>
      </div>
      <button type="submit">Send Message</button>
    </form>
  </div>

  <div class="contact-info">
    <a href="https://www.instagram.com/stxcxyy/?igsh=MnIyaHUzdjlkOHNw" target="_blank">
      <img src="/img/instagram-new-2016-seeklogo.png" alt="Instagram" />
    </a>
    <a href="https://www.linkedin.com/in/stacey-salting-0671941b3/" target="_blank">
      <img src="/img/linkedin-icon-seeklogo.png" alt="Linkedin" />
    </a>
    <p>Toronto, ON</p>
    <p>Staceysalting@hotmail.com</p>
  </div>
</div>

  </section>

</footer>



