<main>
    <div class="hero-container">
        <div class="hero-text">
            <h1>Stacey Salting</h1>
            <p> Social Media - Content Creation - Multimedia Editing</p>
            <h1>Portfolio</h1>
        </div>
    </div>
</main>

<div class="home-about">
    <h1>About Me</h1>

    <div class="home-grid-container">
        <div class="home-grid">
            <div class="grid-data">
                <h3>Paragraph</h3>
                <span class="grid-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam asperiores vitae, delectus voluptas expedita cupiditate cum temporibus necessitatibus sit officia.
                </span>
            </div>
        </div>

        <div class="home-grid">
            <div class="grid-data">
                <h3>Picture</h3>
                <img src="your-image.jpg" alt="About Me" class="about-pic">
            </div>
        </div>
    </div>
</div>

<div class="work-container">
    <div class="work">
        <img src="/img/wilson_peet_dryer_brun_101300-120_8ef7ec02-2481-48ba-b89e-765ae2108a39_1080x.jpg.webp" alt="basketball">
        <div class="work-content">
            <h4>Graphic Design/Visuals</h4>
                <form action="/projects" method="POST">
                    <button type="submit" class="buy-btn">See More</button>
                </form>
        </div>
    </div>

    <div class="work">
        <img src="/img/rossignol-react-2s-skis-xpress-10-bindings-22-23.webp" alt="skis">
        <div class="work-content">
            <h4>Social Media Management</h4>
                <form action="/projects" method="POST">
                    <button type="submit" class="buy-btn">See More</button>
                </form>
        </div>
    </div>

    <div class="work">
        <img src="/img/rossignol-react-2s-skis-xpress-10-bindings-22-23.webp" alt="skis">
        <div class="work-content">
            <h4>Video Production</h4>
                <form action="/projects" method="POST">
                    <button type="submit" class="buy-btn">See More</button>
                </form>
        </div>
    </div>
</div>

<div class="logo-strip">
    <div class="logo-track">
       <img src="/img/canva-seeklogo.png" alt="Canva">
      <img src="/img/capcut-seeklogo.png" alt="CapCut" />
      <img src="/img/adobe-express-seeklogo.png"  alt="Adobe Express" />
      <img src="/img/adobe-photoshop-seeklogo.png" alt="Photoshop" />
      <img src="/img/adobe-lightroom-seeklogo.png" alt="Lightroom" />
      <img src="/img/premiere-pro-cs6-seeklogo.png" alt="Premiere Pro" />

      <a href="https://www.instagram.com/stxcxyy/?igsh=MnIyaHUzdjlkOHNw" target="_blank">
        <img src="/img/instagram-new-2016-seeklogo.png" alt="Instagram" />
      </a>

      <a href="https://www.tiktok.com/@staa.ceyy?_t=ZM-8znN7cXZ46A&_r=1" target="_blank">
        <img src="/img/tiktok-seeklogo.png" alt="TikTok" />
      </a>

      <!-- repeat logos for seamless loop -->
       <img src="/img/canva-seeklogo.png" alt="Canva">
      <img src="/img/capcut-seeklogo.png" alt="CapCut" />
      <img src="/img/adobe-express-seeklogo.png"  alt="Adobe Express" />
      <img src="/img/adobe-photoshop-seeklogo.png" alt="Photoshop" />
      <img src="/img/adobe-lightroom-seeklogo.png" alt="Lightroom" />
      <img src="/img/premiere-pro-cs6-seeklogo.png" alt="Premiere Pro" />
      <a href="https://instagram.com/yourpage" target="_blank">
        <img src="/img/instagram-new-2016-seeklogo.png" alt="Instagram" />
      </a>

      <a href="https://tiktok.com/@yourpage" target="_blank">
        <img src="/img/tiktok-seeklogo.png" alt="TikTok" />
      </a>
    </div>
  </div>
