<main>
    <div class="container">
        <img src="/img/boxing-4383119_640-removebg-preview.png" alt="logo">
        <div class="hero-text">
            <h1>From the Court to the Field. Be Prepared for Every Move</h1>
            <p>High-quality sports equipment for every sport—whether you play professionaly or for fun.
            </p>
        </div>
    </div>
</main>

<div class="grid-container">
    <h2 class="featured-brands"> Featured Brands</h2>
    <div class="grid">
        <img src="/img/nike-ads-growth.webp" alt="nike" class="grid-image">
        <div class="grid-data">
            <h3 class="grid-title">Nike</h3>
            <span class="grid-description"> Just Do It</span>
        </div>
    </div>

    <div class="grid">
        <img src="/img/default-large.jpg" alt="under-armour" class="grid-image">
        <div class="grid-data">
            <h3 class="grid-title">Under Armour</h3>
            <span class="grid-description"> Everything comes from under</span>
        </div>
    </div>

    <div class="grid">
        <img src="/img/campaign_adidas-20150215115450780.jpg" alt="adidas" class="grid-image">
        <div class="grid-data">
            <h3 class="grid-title">Adidas</h3>
            <span class="grid-description"> All in or Nothing</span>
        </div>
    </div>
    <div class="grid">
        <img src="/img/maxresdefault.jpg" alt="new-balance" class="grid-image">
        <div class="grid-data">
            <h3 class="grid-title">New Balance</h3>
            <span class="grid-description">Fearlessly Independent Since 1906 </span>
        </div>
    </div>
</div>

<div class="card-container">
    <div class="card">
        <img src="/img/wilson_peet_dryer_brun_101300-120_8ef7ec02-2481-48ba-b89e-765ae2108a39_1080x.jpg.webp" alt="basketball">
        <div class="card-content">
            <h4>Wilson Evolution Indoor Size 6 Basketball</h4>
            <p class="price">$100</p>
                <form action="/cart/add" method="POST">
                    <input type="hidden" name="productId" value="basketball001">
                    <button type="submit" class="buy-btn">Buy</button>
                </form>
        </div>
    </div>

    <div class="card">
        <img src="/img/rossignol-react-2s-skis-xpress-10-bindings-22-23.webp" alt="skis">
        <div class="card-content">
            <h4>React 2S Skis + XPress 10 Bindings</h4>
            <p class="price">$400</p>
                <form action="/cart/add" method="POST">
                    <input type="hidden" name="productId" value="skis002">
                    <button type="submit" class="buy-btn">Buy</button>
                </form>
        </div>
    </div>

    <div class="card">
        <img src="/img/zoom_161884_642390.webp" alt="snowboard">
        <div class="card-content">
            <h4>CAPiTA DOA Snowboard</h4>
            <p class="price">$600</p>
                <form action="/cart/add" method="POST">
                    <input type="hidden" name="productId" value="snowboard003">
                    <button type="submit" class="buy-btn">Buy</button>
                </form>
        </div>
    </div>
</div>
